@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Developed by E. Lemaistre<br />
    Paris, France<br />

</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:manu9576@hotlmail.fr">manu9576@hotmail.fr</a><br />
</address>