@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elite Dangerous</h1>
    <p class="lead"> Starting with only a small starship and a few credits, you'll do whatever it takes to earn the skill, knowledge, wealth and power to stand among the ranks of the Elite.</p>
    <p><a href="https://www.elitedangerous.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>
            Consult the categories of commodities.
        </p>
        <p><a class="btn btn-primary btn-lg" href="..//Categories//Index" )>Categories</a></p>
    </div>
    <div class="col-md-4">
        <h2>Commodities</h2>
        <p>
            Consult the commodities.
        </p>
        <p><a class="btn btn-primary btn-lg" href="..//Commodities//Index")>Commmodities</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stations</h2>
        <p>
            Consult all stations of Elite dangerous.
        </p>
        <p><a class="btn btn-primary btn-lg" href="..//Stations//Index">List stations</a> </p>
        <p><a class="btn btn-primary btn-lg" href="..//Stations//Search">Search station</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Systems</h2>
        <p>
            Consult all systems of Elite dangerous.
        </p>
        <p><a class="btn btn-primary btn-lg" href="..//Systems//Index">List systems</a> </p>
        <p><a class="btn btn-primary btn-lg" href="..//Systems//Search">Search system</a> </p>
    </div>
</div>